<img class="loading" *ngIf="!dataLoaded" src="assets/loading.png" />
<cns-pubvis [title]="title" theme="light-theme" *ngIf="dataLoaded">
  <markdown ngPreserveWhitespaces>
    # Data

    Data was collected for 17 primary investigators awarded a grant as part of the IU Precision Health Initiative (PHI) Grand Challenge grant process. This included only papers published by the PIs from 2000-2019 that were affiliated with IU and collected from the [Web of Science](https://clarivate.com/products/web-of-science/) online interface, totally 1,042 publications. Author names were unified and cleaned. However, 2 primary investigators did not have any publications affiliated with IU. Hence, they are not present in the co-authorship network. As a result, the network contains only 15 primary investigators. The primary authors are listed at the bottom of this page.
    <br><br>
    All data used and instructions on how to reproduce results is available in the [data](https://github.com/cns-iu/phi/tree/master/data) directory on GitHub.
    <br><br>
    *Data Last Updated 08/20/2019*

    # Code

    The code for the website and data ingestion workflow is available on GitHub at <https://github.com/cns-iu/phi>.

    # Credits

    This project is developed at the [Cyberinfrastructure for Network Science Center at Indiana University](http://cns.iu.edu). Funding is provided by Indiana University's [Precision Health Initiative Grand Challenge](https://precisionhealth.iu.edu/).

    # Co-Author Network

    The co-author network was created from a list of publications.
    Each author is shown as either a circle or a triangle based on whether
    they had an affiliation with one of the selected organizations during
    the time period selected. The size of the author's symbol is based on
    the number of publications they had during that time period. The color
    is based on the number of co-authors they had during that time period.
    Their symbol is labeled if they are one of the selected authors to highlight.
    Each line represents a co-author relationship where they have
    published at least one paper together during the selected time period. The
    thickness of the line is based on the number of publications they authored
    together during the selected time period.

    # Science Map

    The UCSD map of science and classification system was computed using
    paper-level data from about 25,000 journals from Elsevier's Scopus and and
    Thomson Reuters' Web of Science (WoS) for the years 2001-2010. The UCSD map
    of science assigns the 25,000 journals to 554 subdisciplines that are further
    aggregated into 13 main disciplines of science. In the map, each discipline
    has a distinct color (green for 'Biology', brown for 'Earth Sciences', etc.)
    and a label. (Sub)disciplines that are similar closer to one another on the
    map. (Sub)disciplines that are especially similar are connected by grey lines.
    <br><br>
    The details of how this map was created are published in PLOS One.
    DOI: <a href="https://doi.org/10.1371/journal.pone.0039464">10.1371/journal.pone.0039464</a>
  </markdown>
</cns-pubvis>
